.alert {
	border-radius: 4px;
	color: var(--red);
	font-weight: 500;

	& > div {
		padding: 0.25rem 1rem;
	}

	&__close {
		font-size: 1.5rem;
		font-weight: 600;
		cursor: pointer;
		margin-left: 1rem;
	}

	&-info {
		background-color: #5585ed;
		color: white;
	}
	&-success {
		background-color: var(--green);
		color: white;
	}

	&-danger {
		background-color: var(--danger);
	}
}
