.textArea {
	height: 5rem;
	width: 100%;
	outline: none;
	border: 1px solid var(--gray-light);
	border-radius: 2px;
	padding: 0.5rem;
	transition: 500ms border ease;

	&:focus {
		border: 1px solid var(--gray-dark);
	}
}
