.textArea {
	height: 5rem;
	width: 100%;
	outline: none;
	border: 0.1rem solid var(--gray-light);
	border-radius: 4px;
	padding: 0.5rem;
	font-size: 1.1rem;
	transition: 300ms border ease;
	font-family: inherit;

	&:focus {
		border: 0.1rem solid var(--red);
	}
}
