.grid {
	display: grid;

	&-gap-1 {
		gap: 1rem;

		@media (max-width: 768px) {
			gap: 0;
		}
	}

	&-gap-2 {
		gap: 2rem;
		align-items: center;

		@media (max-width: 768px) {
			gap: 0;
		}
	}

	&-gap-3 {
		gap: 2rem;
	}

	&-gap-4 {
		gap: 2rem;
	}

	&-cols-2 {
		grid-template-columns: repeat(2, 1fr);

		@media (max-width: 768px) {
			grid-template-columns: 1fr;
		}
	}

	&-cols-3 {
		grid-template-columns: repeat(3, 1fr);

		@media (max-width: 768px) {
			grid-template-columns: repeat(2, 1fr);
		}
	}

	&-cols-4 {
		grid-template-columns: repeat(4, 1fr);
		@media (max-width: 768px) {
			grid-template-columns: repeat(2, 1fr);
		}
	}

	&-cols-5 {
		grid-template-columns: repeat(5, 1fr);
	}
}
