.modal {
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	overflow-y: scroll;
	background-color: rgba(0, 0, 0, 0.5);

	&__content {
		margin: 5% auto;
		width: 100%;
		animation-name: modalopen;
		animation-duration: 400ms;
	}

	@keyframes modalopen {
		from {
			opacity: 0;
		}
		to {
			opacity: 1;
		}
	}
}
