.modal {
	position: fixed;
	z-index: 100;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	overflow-y: scroll;
	background-color: rgba(0, 0, 0, 0.5);

	&__content {
		margin: 10% auto;
		width: 100%;
		animation-name: modalopen;
		animation-duration: 400ms;
	}

	&__head {
		border-bottom: 0.1rem solid var(--gray-light);
	}

	&__close {
		font-size: 2.5rem;
		font-weight: 500;
		cursor: pointer;
	}

	@keyframes modalopen {
		from {
			opacity: 0;
		}
		to {
			opacity: 1;
		}
	}
}
