@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,600;0,700;0,800;1,400&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Open Sans', sans-serif;
	font-size: 1rem;
	line-height: 1.6;
}

a,
a:link {
	color: var(--black);
	text-decoration: none;
	font-size: 1rem;
	display: inline-block;

	&:visited {
		color: lighten($color: #333, $amount: 10%);
	}

	&:hover {
		text-decoration: underline;
	}
}

.App {
	margin: 0 1.5rem;
	@media (max-width: 640px) {
		margin: 0;
	}
}
