$spaceamounts: (1, 2, 3, 4, 5);
@each $space in $spaceamounts {
	.m-#{$space} {
		margin: #{$space}rem;
	}
	.my-#{$space} {
		margin: #{$space}rem 0;
	}
	.mx-#{$space} {
		margin: 0 #{$space}rem;
	}
	.mt-#{$space} {
		margin-top: #{$space}rem;
	}
	.mb-#{$space} {
		margin-bottom: #{$space}rem;
	}
	.ml-#{$space} {
		margin-left: #{$space}rem;
	}
	.mr-#{$space} {
		margin-right: #{$space}rem;
	}
	.p-#{$space} {
		padding: #{$space}rem;
	}
	.py-#{$space} {
		padding: #{$space}rem 0;
	}
	.pt-#{$space} {
		padding-top: #{$space}rem;
	}
	.pb-#{$space} {
		padding-bottom: #{$space}rem;
	}
	.pl-#{$space} {
		padding-left: #{$space}rem;
	}
	.pr-#{$space} {
		padding-right: #{$space}rem;
	}
}
