.primary-heading {
	font-size: 1.75rem;
	font-weight: 600;
}

.secondary-heading {
	font-size: 1.5rem;
	font-weight: 500;
}

.tertiary-heading {
	font-size: 1.25rem;
	font-weight: 500;
}

.none {
	display: none;
}

.block {
	display: block;
}

.rounded {
	border-radius: 5rem !important;
}

.w-full {
	width: 100%;
}
