.comment {
  &__user {
    width: 3rem;

    img {
      width: 100%;
      object-fit: cover;
      border-radius: 50%;
    }
  }
  &__input {
    margin-top: 0.5rem;
    font-family: inherit;
    width: 100%;
    border: none !important;
    border-bottom: 0.1rem solid var(--gray-light) !important;
    transition: 300ms ease all;
    &:focus {
      border-bottom: 0.1rem solid var(--red) !important;
    }
  }

  &__post {
    border: 1px solid #ccc;
    border-radius: 2rem;
    padding: 0.5rem;
    width: 100%;
  }
}
