.home {
	&__head {
		padding: 0.75rem;
		font-size: 1.1rem;
		font-weight: 600;
		border-bottom: 1px solid var(--gray-light);
		position: sticky;
		top: 0;
		background: white;
	}

	&__main {
		border: 1px solid var(--gray-light);
	}
}
