.app-container {
	display: grid;
	grid-template-columns: 1fr 3fr 1.25fr;
	gap: 1.5rem;

	margin: 0 1.5rem;
	@media (max-width: 640px) {
		margin: 0;
	}

	@media (max-width: 768px) {
		display: flex;
		flex-direction: column;
	}
}
