.textInput {
	display: inline-block;
	width: 100%;
	border: 0.1rem solid var(--gray-light);
	border-radius: 4px;
	outline: none;
	font-size: 1.1rem;
	font-family: inherit;
	padding: 0.5rem 1rem;
	transition: 300ms border ease;

	&:focus {
		border: 0.1rem solid var(--red);
	}
}
