.create {
	&__upper {
		margin-right: 1rem;
		img {
			width: 3.5rem;
			height: 3.5rem;
			border-radius: 10rem;
		}
	}

	&__text {
		display: inline-block;
		width: 100%;
		border: none;
		outline: none;
		font-size: 1.25rem;
		font-weight: 500;
		font-family: inherit;
		max-height: 120px;
		border-bottom: 1px solid var(--gray-light);
		padding: 0.5rem;
		margin-bottom: 1rem;
		transition: 500ms ease;

		&:focus {
			border-bottom: 1px solid var(--red);
		}
	}

	&__chosen {
		width: 150px;
		border: 1px solid var(--gray-light);

		img {
			width: 100%;
		}
	}

	&__emoji,
	&__images {
		font-size: 1.5rem;
		margin-left: 0.5rem;
		color: #2aa6f2;
		cursor: pointer;
		transition: 500ms all ease;
		&:first-child {
			margin-top: 5px;
		}

		&:hover {
			transform: scale(1.05);
		}
	}
	&__upload {
		input {
			display: none;
		}
	}
}
